@charset "UTF-8";
#wrapper{
    margin: 0px auto;
    text-align: center;
    width: 1100px;
}
.headerPayment{
    height: 50px;
    font-weight: 600;
    font-size: 16pt;
    color : green;
}
.searchingDiv{
    height: 50px;
}
.searhchingBtn {
    color: white;
    background-color: #008916;
    height: 30px;
    width: 70px;
    border-radius: 10px;
}
.listDiv{
    height: auto;
    margin: auto 0px;
}
.tab_list{
    width: 1100px;
}
.goodsNo{
    width: 60px;
    height: 40px;
}
.goodsName{
    width: 300px;
}
.goodsPrice{
    width: 180px;
}
.orderQuantities{
    width: 150px;
}
.totalPrice{
    width: 170px;
}
.p-board-paging ul {
	display: table;
	margin-left: auto;
	margin-right: auto;
	margin-top: 40px;
}
.p-board-paging ul::after {
	content: "";
	display: block;
	clear: both;
}
.p-board-paging ul li {
	float: left;
}
.p-board-paging ul li+li {
	margin-left: -2px;
}
.p-board-paging ul li button {
	width: 36px;
	height: 36px;
	color: #fff;
	border: 1px solid #008916;
	background-color: #008916;
}
.p-board-paging ul li button:hover {
	color: #181818;
	background-color: #fff;
}
.thead{
	background-color: #008916;
	color: white;
}
.back{
	position: relative;
    left: 514px;
    top: -30px;
}
.move{
	position: relative;
    right: 26px;
}