@charset "UTF-8";
#wrapper {
	width: 1100px;
	margin: 0px auto;
}

#sec1 {
	width: 1100px;
	height: 650px;
	font-family: '맑은 고딕';
}

#sec2 {
	width: 1100px;
	height: 300px;
	font-family: '맑은 고딕';
}

.order {
	width: 600px;
	height: 650px;
	float: left;
}

.order_list {
	height: 500px;
	width: 450px;
	float: right;
	    position: relative;
    left: -43px;
}

.total_price {
	height: 600px;
	float: left;
}

.order_message1 {
	height: 100px;
    text-align: center;
    color: #008916;
    font-size: 30pt;
    position: relative;
    top: 72px;
    font-weight: 700
}

.order_message2 {
	height: 120px;
    text-align: center;
    font-weight: 500;
    position: relative;
    top: 68px;
}

.order_message2>p {
	color: black;
	font-size: 20pt;
}

#order_table {
margin: 0 auto;
    position: relative;
    left: 69px;
    font-family: "맑은 고딕";
    top: 176px;
}

.order_table_title {
	font-weight: 800;
	color: #008916;
	width: 120px;
	text-align: right;
	height: 30px;
	font-size: 15pt;
}

.order_table_sub_title {
	font-weight: 500;
	color: black;
	width: 250px;
	text-align: left;
	position: relative;
	left: 5px;
	height: 30px;
	font-size: 12pt;
}

.order_list {
	height: 430px;
}

.order_table{
    position: relative;
    top: 46px;
}
.order_tab_img_td {
height: 180px;
    width: 290px;
}

.order_tab_img {
	height: 100%;
	width: 100%;
	border-radius: 10px;
}

.order_product {
	font-family: 'Times New Roman', Times, serif;
	font-size: 15pt;
	position: relative;
	left: 10px;
	font-family: '맑은 고딕';
    height: 100px;
    line-height: 40px
}

.order_product_price {
	font-size: 10pt;
	line-height: 13px;
	position: relative;
	left: 10px;
}

.order_list2 {
	overflow: auto;
    height: 430px;
    position: relative;
    top: 30px;
}

.total_price_title {
	width: 150px;
	font-size: 15pt;
	font-weight: 800;
}

.total_price_sub_title {
	width: 240px;
	text-align: right;
	font-size: 14pt;
}

.total_price_tab {
	position: relative;
	color: white;
	left: 10px;
	top: 20px;
}

.total_price_space {
	height: 10px;
}

.hr2 {
	color: white;
	font-weight: 500;
	border: none;
	border-top: 3px dotted white;
	width: 100%;
}

.total_price_div {
    border-radius: 15px;
    position: relative;
    top: 10px;
    height: 140px;
    width: 430px;
    background-color: #008916;
    border: 1px solid black;
}

.total_price {
	height: 170px;
}
/* 신상품 글 div */
.newGoods {
	color: #008916;
	height: 60px;
}
/* 신상품 글 */
.newGoods_word {
	padding: 0%;
	font-family: '맑은 고딕';
	font-size: 25pt;
	color: #008916;
	text-align: center;
	font-weight: 600;
}
/* 신상품 div */
.newGoods_div {
	text-align: center;
	margin: 0px 10px 20px 10px;
	float: left;
	position: relative;
	left: 55px;
}
/* 신상품 하나의 div*/
.newGoods_div_goods {
	width: 178px;
	text-align: left;
	line-height: 12px;
	float: left;
	background-color: #F1F1F6;
	border-radius: 15px;
}

.newGoods_div_explain {
	width: 230px;
}
/* 신상품 사진 div */
.newGoods_div_pic {
	width: 100%;
	height: 180px;
}
/* 신상품 사진 */
.newGoods_img {
	width: 100%;
	height: 100%;
	border-radius: 15px;
}
/* 신상품 설명 */
.newGoods_sub_explain {
	position: relative;
	left: 10px;
	font-weight: 600;
}
/* 신상품 가격 */
.newGoods_goods_price {
	position: relative;
	left: 10px;
	font-weight: 800;
}