@charset "UTF-8";
#wrap {margin: 0px auto; width: 100%;}
.main {margin: 0px auto; width: 100%;}

/* main */
.banner {width: 100%; height: 800px; background-color: #606060;}
.banner > img {width: 100%; height: 800px;}
.banner_contents {z-index: 2; position: absolute; width: 45%; height: 800px; background: rgba(20, 20, 20, 0.3); top: 0; padding: 230px 100px 0px 100px;}
.banner_title {font-size: 70px; color: #fff;}
.banner_subTitle {font-size: 35px; color: #fff; font-weight: 600; margin: 20px 0;}
.banner_intro {font-size: 20px; color: #fff; font-weight: 600;}
.banner_play {width: 170px; height: 50px; margin: 40px 0; border-radius: 5px; background-color: #fff; color: #000; font-size: 20px; font-weight: 600;}
.banner_play:hover {background-color: #008916; color: #fff;}
.banner_detail {width: 170px; height: 50px; margin: 40px 30px; border-radius: 5px; background-color: #6a6a6a; color: #fff; font-size: 20px; font-weight: 600;}
.main_contents {width: 100%; background-color: #181818;}
.main_section {width: 100%; height: 400px; display: flex; flex-direction: column; justify-content: center; align-items: center;}
.main_section > ul > li {float: left;}
.main_title {width: 1600px; text-align: left; font-size: 25px; color: #fff; font-weight: 600; margin-bottom: 25px;}
.section_btn {width: 40px; cursor:pointer;}
.movieList {width: 1520px; height: 240px; overflow: hidden; position: relative;}
.slide {width: 3040px; position: absolute;}
.movie {width: 150px; height: 240px; float: left; margin: 0px 20px; cursor:pointer;}
.movie > img {width: 150px; height: 200px;}
.movie > p {width: 150px; text-align: center; font-size: 14px; color: #fff;}