<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
    
    <mapper namespace="com.cctv.peoplay.board.model.dao.BoardMapper">



	<resultMap id="boardAndMemberResultSet" type="com.cctv.peoplay.board.model.dto.BoardAndMemberDTO">
		<id column="POST_NO" property="no" />
		<result column="USER_NO" property="userNo" />
		<result column="POST_TITLE" property="title" />
		<result column="POST_CONTENT" property="content" />
		<result column="VIEW_NO" property="view" />
		<result column="CREATION_DATE" property="creationDate" />
		<result column="REPORT_COUNT" property="reportCount" />
		<result column="POST_STATUS" property="status" />
		<result column="COMMENT_COUNT" property="commentCount" />
		<result column="CATEGORY" property="category"/>
		<association property="memberDTO" resultMap="memberResultMap"></association>
	</resultMap>
	
		<resultMap type="com.cctv.peoplay.member.model.dto.MemberDTO" id="memberResultMap">
 		<id column="USER_NO" property="userNo" />
		<result column="USER_ID" property="userId" />
		<result column="USER_PWD" property="userPwd" />
		<result column="USER_NAME" property="userName" />
		<result column="NICKNAME" property="nickname" />
		<result column="USER_ADDRESS" property="userAddress" />
		<result column="EMAIL" property="email" />
		<result column="PHONE" property="phone" />
		<result column="BIRTHDAY" property="birthday" />
		<result column="USER_ROLE" property="userRole" />
		<result column="USER_REGISTER" property="userRegister" />
		<result column="USER_STATUS" property="userStatus" />
		<result column="SPOILER_YN" property="spoilerYN" />
		<result column="MOVIE_REVIEW_YN" property="movieReviewYN" />
		<result column="BLACKLIST_DATE" property="blacklistDate" />
		<result column="WITHDRAW_DATE" property="withdrawDate" />
		<result column="REPORT_CUMULATIVE" property="reportCumulative" />
 	</resultMap>
 	
 	<resultMap type="com.cctv.peoplay.board.model.dto.ReportAndReportPlaceDTO" id="ReportAndReportPlaceResultMap">
 	<id column="REPORT_NO" property="no"/>
 	<result column="USER_NO" property="userNo"/>
 	<result column="REPORT_REASON" property="reason"/>
 	<result column="OTHER_REASON" property="otherReason"/>
 	<result column="REPORT_DATE" property="reportDate"/>
 	<result column="REPORT_STATUS" property="reportStatus"/>
 	<result column="REPORTED_PERSON" property="reportedPerson"/>
 	<result column="REPORT_PLACE_NO" property="placeNo"/>
 	<result column="REPORT_PLACE_CODE" property="placeCode"/> 
 	<result column="REF_BOARD_NO" property="refBoardNo"/>
 	 <result column="REF_GOODS_NO" property="refGoodsNo"/>
 	 <result column="REF_MOVIE_NO" property="refMovieNo"/>
 		<association property="reportPlaceDTO" javaType="com.cctv.peoplay.board.model.dto.ReportPlaceDTO">
 			<id column="REPORT_PLACE_CODE" property="code"/>
 			<result column="REPORT_PLACE_NAME" property="name"/>
 		</association>
 		<association property="reporter" javaType="MemberDTO"> 
 			<result column="NICKNAME" property="nickname"/>
 		</association>
		<association property="reported" javaType="MemberDTO"> 
 			<result column="REPORTED" property="nickname"/>
 		</association>
 	</resultMap>
	
	
	
	 <resultMap type="com.cctv.peoplay.board.model.dto.BoardReplyDTO" id="replyResultMap">
	<id column="COMMENT_NO" property="no"/>
	<result column="POST_NO" property="postNo"/>
	<result column="REPLY_CONTENT" property="content"/>
	<result column="CREATION_DATE" property="date"/>
	<result column="REPORT_COUNT" property="reportCount"/>
	<result column="REPLY_STATUS" property="status"/>
	<result column="USER_NO" property="userNo"/>
    <association property="memberDTO" resultMap="memberResultMap"></association>
	 </resultMap>
	 
	 
	  <resultMap type="com.cctv.peoplay.board.model.dto.ReplyOfDTO" id="replyOfResultMap">
	<id column="REPLYOF_NO" property="no"/>
	<result column="REF_REPLY_NO" property="refRelyNo"/>
	<result column="REPLYOF_CONTENT" property="content"/>
	<result column="USER_NO" property="userNo"/>
	<result column="REPLYOF_DATE" property="date"/>
	<result column="REPLYOF_STATUS" property="status"/>
	<result column="REF_BOARD_NO" property="refBoardNo"/>
    <association property="memberDTO" resultMap="memberResultMap"></association>
	 </resultMap>
	 

<select id="selectBoardList" resultMap="boardAndMemberResultSet" >
   SELECT
                A.POST_NO
		      , A.USER_NO
   			  , A.NICKNAME
  			  , A.POST_TITLE
 		      , A.VIEW_NO
		      , A.CREATION_DATE
		      , A.COMMENT_COUNT
		      , A.CATEGORY
		      , A.POST_STATUS
		      , A.REPORT_COUNT
		      , A.REPORT_CUMULATIVE
           FROM (SELECT ROWNUM RNUM       
                      , B.POST_NO
		              , B.USER_NO
   			          , B.NICKNAME
   			          , B.POST_TITLE
   			          , B.VIEW_NO
   			          , B.CREATION_DATE
   			          , B.COMMENT_COUNT
   			          , B.CATEGORY
   			          , B.POST_STATUS
   			          , B.REPORT_COUNT
   			          , B.REPORT_CUMULATIVE
		           FROM (SELECT C.POST_NO
		             		  , C.USER_NO
   			        		  , D.NICKNAME
   			         		  , C.POST_TITLE
   			        		  , C.VIEW_NO
   			  		          , C.CREATION_DATE
   			          		  , C.COMMENT_COUNT
   			         		  , C.CATEGORY
   			        		  , C.POST_STATUS
   			        		  , C.REPORT_COUNT
   			        		  , D.REPORT_CUMULATIVE
		           			FROM USER_BOARD C
		                    JOIN USER_INFO D ON(C.USER_NO =D.USER_NO)
		                 WHERE POST_STATUS= 'Y'
      				   ORDER BY C.POST_NO DESC
		          ) B
		  )A
         WHERE A.RNUM BETWEEN #{startRow} AND #{endRow}
        
        
	</select>

<insert id="insertBoard" parameterType="com.cctv.peoplay.board.model.dto.BoardDTO">
	INSERT
	  INTO USER_BOARD A
	     (
	       A.POST_NO
          ,A.USER_NO
		  ,A.POST_TITLE
		  ,A.POST_CONTENT
          ,A.CATEGORY
	     )
	VALUES
	     (
	     SEQ_USER_BOARD.NEXTVAL
	   , #{userNo}
	   , #{title}
	   , #{content}
	   , #{category}
	     )

</insert>

<select id="selectBoradDetail" resultMap="boardAndMemberResultSet">
	   SELECT
		        A.USER_NO
		      , A.POST_NO
   			  , B.NICKNAME
  			  , A.POST_TITLE
 		      , A.POST_CONTENT
		      , A.CREATION_DATE
		      , A.CATEGORY
		 FROM USER_BOARD A
 		 JOIN USER_INFO B ON(A.USER_NO =B.USER_NO)
		 WHERE A.POST_NO= #{no}
</select>

<update id="increaceView">
    UPDATE
		  USER_BOARD A
	   SET A.VIEW_NO = A.VIEW_NO+1
	 WHERE A.POST_NO= #{no}
	   	
</update>

<select id="selectCount" resultType="_int">
	  SELECT
		     COUNT(*)
		FROM USER_BOARD A
	   WHERE POST_STATUS= 'Y'
</select>


<select id="selectSearchCount" resultType="_int" parameterType="hashMap">
	  SELECT
             COUNT(*)
		FROM USER_BOARD A
	    JOIN USER_INFO B ON (A.USER_NO = B.USER_NO)
	   WHERE POST_STATUS= 'Y'
          	<if test="searchCondition == 'writer'">
				AND NICKNAME LIKE '%'|| #{searchValue} ||'%'
		 	</if>
		 	 <if test="searchCondition == 'title'">
				AND POST_TITLE LIKE '%'|| #{searchValue} ||'%'
			</if>
			<if test="searchCondition == 'content'">
				AND POST_CONTENT LIKE '%'|| #{searchValue} ||'%'
			</if>  
</select>


<select id="selectSearchList" resultMap="boardAndMemberResultSet" parameterType="hashmap">
	    SELECT
                A.POST_NO
		      , A.USER_NO
   			  , A.NICKNAME
  			  , A.POST_TITLE
 		      , A.VIEW_NO
		      , A.CREATION_DATE
		      , A.COMMENT_COUNT
		      , A.CATEGORY
		      , A.POST_STATUS
           FROM (SELECT
                        ROWNUM RNUM
                      , B.POST_NO
		              , B.USER_NO
   			          , C.NICKNAME
   			          , B.POST_TITLE
   			          , B.VIEW_NO
   			          , B.CREATION_DATE
   			          , B.COMMENT_COUNT
   			          , B.CATEGORY
   			          , B.POST_STATUS
		           FROM USER_BOARD B
		           JOIN USER_INFO C ON(B.USER_NO =C.USER_NO)
		          WHERE B.POST_STATUS= 'Y'
                   <if test="searchCondition == 'writer'">
				AND NICKNAME LIKE '%'|| #{searchValue} ||'%'
		 	</if>
		 	 <if test="searchCondition == 'title'">
				AND POST_TITLE LIKE '%'|| #{searchValue} ||'%'
			</if>
			<if test="searchCondition == 'content'">
				AND POST_CONTENT LIKE '%'|| #{searchValue} ||'%'</if>  )A
        WHERE A.RNUM BETWEEN #{startRow} AND #{endRow} 
        ORDER BY A.POST_NO DESC
</select>

<update id="deleteBoard" parameterType="_int">

		UPDATE
		       USER_BOARD A
		   SET A.POST_STATUS='N'
		 WHERE A.POST_NO=#{no}
</update>


<insert id="insertReport">
	INSERT
      INTO USER_REPORT A
 		 (
  		   A.REPORT_NO 
         , A.USER_NO
 	     , A.REPORT_REASON
 	     , A.OTHER_REASON
 	     , A.REPORTED_PERSON
         , A.REPORT_PLACE_NO
         , A.REPORT_PLACE_CODE
         , A.REF_BOARD_NO
         )VALUES
         (
 	       SEQ_REPORT_NO.NEXTVAL
	     , #{userNo}
	     , #{reason}
         , #{otherReason}
         , #{reportedPerson}
         , #{placeNo}
         , 1
         , #{placeNo}
   )

</insert>

<update id="increaceReportCount" parameterType="_int">
   UPDATE
		  USER_BOARD A
	   SET A.REPORT_COUNT = A.REPORT_COUNT+1
	 WHERE A.POST_NO = #{placeNo}

</update>


<insert id="insertReply" parameterType="hashmap">
	INSERT
      INTO BOARD_REPLY A
 		 (
  		   A.COMMENT_NO 
         , A.POST_NO
         , A.REPLY_CONTENT
         , A.USER_NO
         )VALUES
         (
 	       SEQ_BOARD_REPLY.NEXTVAL
	     , #{postNo}
	     , #{content}
         , #{userNo}
	     )
</insert> 

<update id="increaceReplyCount">
   UPDATE
		  USER_BOARD A
	   SET A.COMMENT_COUNT = A.COMMENT_COUNT+1
	 WHERE A.POST_NO = #{postNo}
</update>

<select id="selectReply"  resultMap="replyResultMap">
 SELECT
        A.REPLY_CONTENT
      , A.CREATION_DATE
      , B.NICKNAME
      , A.COMMENT_NO
      , A.USER_NO
   FROM BOARD_REPLY A
   JOIN USER_INFO B ON(A.USER_NO =B.USER_NO)
  WHERE A.POST_NO= #{postNo}
  AND A.REPLY_STATUS='Y'
ORDER BY COMMENT_NO ASC

</select>

<update id="deleteReply" parameterType="_int">

		UPDATE
		       BOARD_REPLY A
		   SET A.REPLY_STATUS='N'
		 WHERE A.COMMENT_NO=#{replyNo}
</update>

<update id="decreaceReplyCount">
   UPDATE
		  USER_BOARD A
	   SET A.COMMENT_COUNT = A.COMMENT_COUNT-1
	 WHERE A.POST_NO = #{boardNo}
</update>

<insert id="insertReplyOf" parameterType="hashmap">
	INSERT
      INTO REPLYOF A
 		 (
  		   A.REPLYOF_NO 
         , A.REF_REPLY_NO
         , A.REPLYOF_CONTENT
         , A.USER_NO
         , A.REF_BOARD_NO
         )VALUES
         (
 	       SEQ_REPLYOF_NO.NEXTVAL
	     , #{refNo}
	     , #{replyOfContent}
         , #{userNo}
         , #{refBoardNo}
	     )
</insert> 

<select id="selectReplyOf" resultMap="replyOfResultMap">
	SELECT 
	      A.REPLYOF_CONTENT
	    , B.NICKNAME
	    , A.REPLYOF_DATE
	    , A.REPLYOF_NO	
	    , A.REF_REPLY_NO
	    , A.USER_NO
	FROM REPLYOF A
	JOIN USER_INFO B ON(A.USER_NO =B.USER_NO)
	WHERE A.REPLYOF_STATUS='Y'
	AND A.REF_BOARD_NO= #{refBoardNo}
	ORDER BY REPLYOF_NO ASC

</select>

<update id="deleteReplyOf" parameterType="_int">

		UPDATE
		       REPLYOF A
		   SET A.REPLYOF_STATUS='N'
		 WHERE A.REPLYOF_NO=#{replyOfNo}
</update>

<select id="modifyBoard" resultMap="boardAndMemberResultSet">
	   SELECT
		        A.USER_NO
		      , A.POST_NO
   			  , B.NICKNAME
  			  , A.POST_TITLE
 		      , A.POST_CONTENT
		      , A.CREATION_DATE
		      , A.CATEGORY
		 FROM USER_BOARD A
 		 JOIN USER_INFO B ON(A.USER_NO =B.USER_NO)
		 WHERE A.POST_NO= #{no}
</select>

<update id="modifyUpdate" parameterType="hashmap">

		UPDATE
   		       USER_BOARD A
           SET A.POST_TITLE = #{title}
             , A.POST_CONTENT = #{content}
             , A.CATEGORY = #{category}
         WHERE A.POST_NO = #{no}
</update>

<update id="modifyReply" parameterType="hashmap">

		UPDATE
   		       BOARD_REPLY A
           SET 
               A.REPLY_CONTENT = #{modifyContent}
         WHERE A.COMMENT_NO = #{replyNo}
</update>


<update id="modifyReplyOf" parameterType="hashmap">

		UPDATE
   		       REPLYOF A
           SET 
               A.REPLYOF_CONTENT = #{modifyReplyOfContent}
         WHERE A.REPLYOF_NO = #{replyOfNo}
</update>

<insert id="insertReplyRepot" parameterType="hashmap">
	INSERT
      INTO USER_REPORT A
 		 (
  		   A.REPORT_NO 
         , A.USER_NO
 	     , A.REPORT_REASON
 	     , A.REPORTED_PERSON
         , A.REPORT_PLACE_NO
         , A.REPORT_PLACE_CODE
         , A.REF_BOARD_NO
         )VALUES
         (
 	       SEQ_REPORT_NO.NEXTVAL
	     , #{userNo}
	     , #{reportReason}
         , #{reportedPerson}
         , #{replyNo}
         , 3
         , #{boardNo}
   )

</insert>

<update id="increaceReplyReportCount" parameterType="_int">
   UPDATE
		  BOARD_REPLY A
	   SET A.REPORT_COUNT = A.REPORT_COUNT+1
	 WHERE A.COMMENT_NO = #{replyNo}

</update>

<insert id="insertReplyOfReport" parameterType="hashmap">
	INSERT
      INTO USER_REPORT A
 		 (
  		   A.REPORT_NO 
         , A.USER_NO
 	     , A.REPORT_REASON
 	     , A.REPORTED_PERSON
         , A.REPORT_PLACE_NO
         , A.REPORT_PLACE_CODE
         , A.REF_BOARD_NO
         )VALUES
         (
 	       SEQ_REPORT_NO.NEXTVAL
	     , #{userNo}
	     , #{reportReason}
         , #{reportedPerson}
         , #{replyOfNo}
         , 4
         , #{boardNo}
   )

</insert>

<update id="increaceReplyOfReportCount" parameterType="_int">
   UPDATE
		  REPLYOF A
	   SET A.REPORT_COUNT = A.REPORT_COUNT+1
	 WHERE A.REPLYOF_NO = #{replyOfNo}

</update>

<select id="selectReportList" resultMap="ReportAndReportPlaceResultMap">
SELECT
      B.NICKNAME
    , C.NICKNAME REPORTED
    , A.REPORT_REASON
    , A.OTHER_REASON
    , A.REPORT_DATE
    , A.REPORT_NO
    , D.REPORT_PLACE_NAME
    , A.REPORT_PLACE_NO
    , A.REPORT_PLACE_CODE
    , A.REPORTED_PERSON
    , A.REF_BOARD_NO
    , A.REF_GOODS_NO
      FROM USER_REPORT A
      JOIN USER_INFO B ON (A.USER_NO = B.USER_NO)
      JOIN USER_INFO C ON (A.REPORTED_PERSON = C.USER_NO)
      JOIN REPORT_PLACE D ON (A.REPORT_PLACE_CODE = D.REPORT_PLACE_CODE)
      WHERE A.REPORT_PLACE_CODE =#{no}
        AND A.REPORT_STATUS ='대기중'

</select>

<update id="updateUserReportCount" parameterType="_int">
	UPDATE
		  USER_INFO A
	   SET A.REPORT_CUMULATIVE = A.REPORT_CUMULATIVE+1
	 WHERE A.USER_NO = #{reportedPersonNo}

</update>

<update id="updateBoardReportStatus" parameterType="_int">
UPDATE
		  USER_REPORT A
	   SET A.REPORT_STATUS = '신고완료'
	 WHERE A.REPORT_PLACE_NO = #{placeNo}
	 AND A.REPORT_PLACE_CODE= 1

</update>

<select id="selectReportCount" resultType="_int">
SELECT
        A.REPORT_CUMULATIVE
    FROM USER_INFO A
    WHERE USER_NO =#{reportedPersonNo}
</select>


<update id="userBlack" parameterType="_int">
UPDATE
		  USER_INFO A
	   SET A.USER_ROLE = 'BLACK'
	 WHERE A.USER_NO = #{reportedPersonNo}

</update>


<update id="updateReplyReportStatus" parameterType="_int">
UPDATE
		  USER_REPORT A
	   SET A.REPORT_STATUS = '신고완료'
	 WHERE A.REPORT_PLACE_NO = #{placeNo}
	 AND A.REPORT_PLACE_CODE= 3

</update>

<update id="updateReplyOfReportStatus" parameterType="_int">
UPDATE
		  USER_REPORT A
	   SET A.REPORT_STATUS = '신고완료'
	 WHERE A.REPORT_PLACE_NO = #{placeNo}
	 AND A.REPORT_PLACE_CODE= 4

</update>


<update id="cancleBoardReportStatus" parameterType="_int">
UPDATE
		  USER_REPORT A
	   SET A.REPORT_STATUS = '신고취소'
	 WHERE A.REPORT_PLACE_NO = #{placeNo}
	 AND A.REPORT_PLACE_CODE= 1

</update>

<update id="resetReportCount" parameterType="_int">
UPDATE
		  REPLYOF A
	   SET A.REPORT_COUNT = 0
	 WHERE A.REPLYOF_NO = #{placeNo}
</update>


<update id="cancleReplyReportStatus" parameterType="_int">
UPDATE
		  USER_REPORT A
	   SET A.REPORT_STATUS = '신고취소'
	 WHERE A.REPORT_PLACE_NO = #{placeNo}
	 AND A.REPORT_PLACE_CODE= 3

</update>

<update id="cancleReplyOfReportStatus" parameterType="_int">
UPDATE
		  USER_REPORT A
	   SET A.REPORT_STATUS = '신고취소'
	 WHERE A.REPORT_PLACE_NO = #{placeNo}
	 AND A.REPORT_PLACE_CODE= 4

</update>

<update id="resetReplyReportCount" parameterType="_int">
UPDATE
		   A.BOARD_REPLY
	   SET A.REPORT_COUNT = 0
	 WHERE A.COMMENT_NO = #{placeNo}
</update>

<update id="resetReplyOfReportCount" parameterType="_int">
UPDATE
		  USER_BOARD A
	   SET A.REPORT_COUNT = 0
	 WHERE A.POST_NO = #{placeNo}
</update>

<update id="cancleGoodsReportStatus" parameterType="_int">
UPDATE
		  USER_REPORT A
	   SET A.REPORT_STATUS = '신고취소'
	 WHERE A.REPORT_PLACE_NO = #{placeNo}
	 AND A.REPORT_PLACE_CODE= 2
</update>

	<delete id="deleteGoods" parameterType="_int">
	    DELETE 
          FROM TBL_GOODS_REVIEW
         WHERE GOODS_REVIEW_NUM = #{placeNo}
	</delete>

<update id="updateGoodsReportStatus" parameterType="_int">
	UPDATE
		   USER_REPORT A
	   SET A.REPORT_STATUS = '신고완료'
	 WHERE A.REPORT_PLACE_NO = #{placeNo}
	 AND A.REPORT_PLACE_CODE= 2

</update>
</mapper>