@charset "UTF-8";
.header {z-index: 20; margin: 0px auto; width: 100%; position: fixed;}

/* header */
.header_box{width: 100%; height: 50px; background: linear-gradient(to top, rgba(44, 44, 44, 0) 10%, rgba(44, 44, 44, 0.75) 75%); text-align: center; line-height: 50px; }
.logo{width: 150px; height: 50px; float: left;}
.nav{float: left; width: 700px; height: 50px;}
.nav > ul > li{float: left; margin-left: 60px; color: #ffffff; font-size: 15px;}
.mainlogin{width: 150px; height: 50px; background-color: #008916; float: right; color: #ffffff; font-size: 20px; font-weight: 600; cursor: pointer;} 
.afterLogin{float: right; width: 300px; height: 50px;}
.afterLogin > ul > li{float: right; margin: 0px 10px; color: #ffffff; font-size: 15px;}
.adminMode{width: 180px; height: 50px; background-color: #008916; float: right; color: #ffffff; font-size: 20px; font-weight: 600; cursor: pointer;} 
.adminLogout{width: 150px; height: 50px; background-color: #606060; float: right; color: #ffffff; font-size: 20px; font-weight: 600; cursor: pointer;} 