@charset "UTF-8";
#wrap {margin: 0px auto; width: 100%;}
.main {margin: 0px auto; width: 100%;}

/* adminMenu */
.admin_nav {width: 1100px; height: 200px; margin: 0px auto;}
.admin_nav > div {width: 275px; height: 100px; float: left; font-size: 15px; color: #fff; text-align: center; line-height: 100px;}
.admin_nav > div:hover {background-color: #008916;}
.color1 {background-color: #606060;}
.color2 {background-color: #2c2c2c;}

/* adminMain */
/* .adminMain {width: 100%; height: 1000px; background-color: #181818; display: flex; justify-content: center; align-items: center;} */
/* .adminMain_contents {width: 1100px; height: 800px;} */
/* .admin_graph_box {width: 1100px; height: 600px; background-color: #2c2c2c; margin-top: 50px;} */
.admin_graph_box_title {width: 1100px; height: 50px;}
.admin_graph_box_title > p {width: 150px; height: 50px; text-align: center; font-size: 20px; color: #fff; line-height: 50px; margin: 0 auto;}
.admin_graph_box_title > select {width: 100px; height: 30px; float: right; font-size: 15px; background-color: #181818; color: #fff; border: none; margin: 10px;}
/* .admin_graph_box_body {width: 1100px; height: 550px;} */
.adminMain {width: 100%; height: 700px; background-color: #181818; display: flex; justify-content: center; align-items: center;}
.adminMain_contents {width: 1100px; height: 400px;}
.admin_graph_box {width: 1100px; height: 100px; background-color: #2c2c2c; margin-top: 50px;}
.admin_graph_box_body {width: 1100px; height: 50px;}
.admin_graph_box_body > p {width: 366px; height: 50px; float: left; text-align: center; line-height: 50px; color: #fff; font-size: 15px}

/* adminMemberMain */
.adminMember {width: 100%; height: 1200px; background-color: #181818; display: flex; justify-content: center; align-items: center;}
.adminMember_contents {width: 1100px; height: 1000px;}
.adminMember_list {width: 1100px; height: 800px; background-color: #2c2c2c; margin-top: 50px;}
.memberList_title {width: 1100px; height: 100px;}
.memberList_title > p {text-align: center; font-size: 20px; color: #fff; line-height: 100px; margin: 0 auto;}
.memberList_body {width: 1100px; height: 640px;}
.adminLine {width: 1000px; margin: 0 auto;}
.memberList_body > table {margin: 30px auto; overflow: hidden; clear: both;}
.memberTable_title {width: 60px; height: 40px; background-color: #008916; color: white; font-size: 14px; font-weight: 600;}
.memberTable_nameTitle {width: 100px; height: 40px; background-color: #008916; color: white; font-size: 14px; font-weight: 600;}
.memberTable_dateTitle {width: 200px; height: 40px; background-color: #008916; color: white; font-size: 14px; font-weight: 600;}
.memberTable_emailTitle {width: 300px; height: 40px; background-color: #008916; color: white; font-size: 14px; font-weight: 600;}
.memberTable_body {font-size: 13px;  height: 25px; border-bottom: 1px solid #ccc; text-align: center;  color: white;}
.blackY {color: #ae1932;}
.blackN {color: #fff;}
.searchDiv {width: 245px; height: 25px; float: right; margin: 20px 50px 20px 0;}
.searchDiv > select {width: 70px; height: 20px;}
.searchDiv > input {width: 170px; height: 20px; text-align: center;}