<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cctv.peoplay.admin.member.model.dao.AdminMemberMapper">

	<resultMap id="memberResultSet" type="MemberDTO">
		<id column="USER_NO" property="userNo" />
		<result column="USER_ID" property="userId" />
		<result column="USER_PWD" property="userPwd" />
		<result column="USER_NAME" property="userName" />
		<result column="NICKNAME" property="nickname" />
		<result column="USER_ADDRESS" property="userAddress" />
		<result column="EMAIL" property="email" />
		<result column="PHONE" property="phone" />
		<result column="BIRTHDAY" property="birthday" />
		<result column="USER_ROLE" property="userRole" />
		<result column="USER_REGISTER" property="userRegister" />
		<result column="USER_STATUS" property="userStatus" />
		<result column="SPOILER_YN" property="spoilerYN" />
		<result column="MOVIE_REVIEW_YN" property="movieReviewYN" />
		<result column="BLACKLIST_DATE" property="blacklistDate" />
		<result column="WITHDRAW_DATE" property="withdrawDate" />
		<result column="REPORT_CUMULATIVE" property="reportCumulative" />
		<result column="SUBSCRIBE_VALIDITY" property="subscribeValidity" />
	</resultMap>

	<select id="selectAllMember" resultMap="memberResultSet" parameterType="MemberDTO">
		SELECT
               A.USER_NO
             , A.USER_ID
             , A.USER_PWD
             , A.USER_NAME
             , A.NICKNAME
             , A.USER_ADDRESS
             , A.EMAIL
             , A.PHONE
             , A.BIRTHDAY
             , A.USER_ROLE
             , A.USER_REGISTER
             , A.USER_STATUS
             , A.SPOILER_YN
             , A.MOVIE_REVIEW_YN
             , A.BLACKLIST_DATE
             , A.WITHDRAW_DATE
             , A.REPORT_CUMULATIVE
             , A.SUBSCRIBE_VALIDITY
		  FROM USER_INFO A
		 WHERE A.USER_STATUS = 'Y'
	</select>
	
	<select id="selectMemberByNo" resultMap="memberResultSet" parameterType="_int">
		SELECT
               A.USER_NO
             , A.USER_ID
             , A.USER_PWD
             , A.USER_NAME
             , A.NICKNAME
             , A.USER_ADDRESS
             , A.EMAIL
             , A.PHONE
             , A.BIRTHDAY
             , A.USER_ROLE
             , A.USER_REGISTER
             , A.USER_STATUS
             , A.SPOILER_YN
             , A.MOVIE_REVIEW_YN
             , A.BLACKLIST_DATE
             , A.WITHDRAW_DATE
             , A.REPORT_CUMULATIVE
             , A.SUBSCRIBE_VALIDITY
		  FROM USER_INFO A
		 WHERE A.USER_STATUS = 'Y'
		   AND A.USER_NO = #{no}
	</select>

	<select id="selectMemberByName" resultMap="memberResultSet" parameterType="string">
		SELECT
               A.USER_NO
             , A.USER_ID
             , A.USER_PWD
             , A.USER_NAME
             , A.NICKNAME
             , A.USER_ADDRESS
             , A.EMAIL
             , A.PHONE
             , A.BIRTHDAY
             , A.USER_ROLE
             , A.USER_REGISTER
             , A.USER_STATUS
             , A.SPOILER_YN
             , A.MOVIE_REVIEW_YN
             , A.BLACKLIST_DATE
             , A.WITHDRAW_DATE
             , A.REPORT_CUMULATIVE
             , A.SUBSCRIBE_VALIDITY
		  FROM USER_INFO A
		 WHERE A.USER_STATUS = 'Y'
		   AND A.USER_NAME LIKE '%' || #{name} || '%'
	</select>

	<select id="selectMemberByNickname" resultMap="memberResultSet" parameterType="string">
		SELECT
               A.USER_NO
             , A.USER_ID
             , A.USER_PWD
             , A.USER_NAME
             , A.NICKNAME
             , A.USER_ADDRESS
             , A.EMAIL
             , A.PHONE
             , A.BIRTHDAY
             , A.USER_ROLE
             , A.USER_REGISTER
             , A.USER_STATUS
             , A.SPOILER_YN
             , A.MOVIE_REVIEW_YN
             , A.BLACKLIST_DATE
             , A.WITHDRAW_DATE
             , A.REPORT_CUMULATIVE
             , A.SUBSCRIBE_VALIDITY
		  FROM USER_INFO A
		 WHERE A.USER_STATUS = 'Y'
		   AND A.NICKNAME LIKE '%' || #{nickname} || '%'
	</select>

	<select id="selectMemberByReportCount" resultMap="memberResultSet" parameterType="_int">
		SELECT
               A.USER_NO
             , A.USER_ID
             , A.USER_PWD
             , A.USER_NAME
             , A.NICKNAME
             , A.USER_ADDRESS
             , A.EMAIL
             , A.PHONE
             , A.BIRTHDAY
             , A.USER_ROLE
             , A.USER_REGISTER
             , A.USER_STATUS
             , A.SPOILER_YN
             , A.MOVIE_REVIEW_YN
             , A.BLACKLIST_DATE
             , A.WITHDRAW_DATE
             , A.REPORT_CUMULATIVE
             , A.SUBSCRIBE_VALIDITY
		  FROM USER_INFO A
		 WHERE A.USER_STATUS = 'Y'
		   AND A.REPORT_CUMULATIVE <![CDATA[ >= ]]> #{reportCount}
		 ORDER BY A.REPORT_CUMULATIVE
	</select>

	<select id="selectMemberByStatus" resultMap="memberResultSet" parameterType="string">
		SELECT
               A.USER_NO
             , A.USER_ID
             , A.USER_PWD
             , A.USER_NAME
             , A.NICKNAME
             , A.USER_ADDRESS
             , A.EMAIL
             , A.PHONE
             , A.BIRTHDAY
             , A.USER_ROLE
             , A.USER_REGISTER
             , A.USER_STATUS
             , A.SPOILER_YN
             , A.MOVIE_REVIEW_YN
             , A.BLACKLIST_DATE
             , A.WITHDRAW_DATE
             , A.REPORT_CUMULATIVE
             , A.SUBSCRIBE_VALIDITY
		  FROM USER_INFO A
		 WHERE A.USER_STATUS = #{status}
	</select>

	<select id="selectMemberByBlack" resultMap="memberResultSet" parameterType="string">
		SELECT
               A.USER_NO
             , A.USER_ID
             , A.USER_PWD
             , A.USER_NAME
             , A.NICKNAME
             , A.USER_ADDRESS
             , A.EMAIL
             , A.PHONE
             , A.BIRTHDAY
             , A.USER_ROLE
             , A.USER_REGISTER
             , A.USER_STATUS
             , A.SPOILER_YN
             , A.MOVIE_REVIEW_YN
             , A.BLACKLIST_DATE
             , A.WITHDRAW_DATE
             , A.REPORT_CUMULATIVE
             , A.SUBSCRIBE_VALIDITY
		  FROM USER_INFO A
		 WHERE A.USER_STATUS = 'Y'
		   AND A.USER_ROLE = 'BLACK'
		   AND A.NICKNAME LIKE '%' || #{black} || '%'
	</select>
	
	<update id="updateMemberBlack" parameterType="MemberDTO">
		<selectKey keyProperty="userRole" resultType="string" order="BEFORE">
        	SELECT
        		   USER_ROLE
        	  FROM USER_INFO
        	 WHERE USER_NO = #{userNo}
    	</selectKey>
		UPDATE
		       USER_INFO A
		   <if test='userRole == "MEMBER"'>
		   SET A.USER_ROLE = 'BLACK'
		   , A.BLACKLIST_DATE = SYSDATE
		   </if>
		   <if test='userRole == "BLACK"'>
		   SET A.USER_ROLE = 'MEMBER'
		   , A.BLACKLIST_DATE = null
		   </if>
		 WHERE A.USER_NO = #{userNo}
	</update>

</mapper>